.profile {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 51px;
  display: flex;
  position: relative;
}

@media all and (max-width: 1120px) {
  .profile {
    margin-top: 42px;
    margin-bottom: 36px;
    flex-direction: column;
    align-items: center;
  }
}