.popup__input {
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  min-height: 30px;
  margin-left: 36px;
  margin-top: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  
}

.popup__input:first-of-type {
  margin-top: 0;
}

.popup__input:focus {
  outline: 2px solid rgba(111, 171, 240);
}

@media all and (max-width: 550px) {
  .popup__input {
    font-size: 14px;
    line-height: 17px;
    margin: 30px auto 0;
    width: 238px;
  }

  .popup__input:first-of-type {
    margin-top: 0;
  }
}